@using Project.Data.ViewModels;
@model ShoppingCartViewModel //go to shopping cartvm in the data, view models add add using Project.Data.ViewModels;
@{
    ViewData["Title"] = "Shopping cart summary";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap" rel="stylesheet">
</head>
<style>
    h2{
        font-family: 'Noto Serif', serif;
        text-align: center;
    }
         .container-fluid {
        background-color: #f8f9fa;
    }
        .navbar {
        margin-bottom: 0px !important;
    }

    header .container-fluid {
        background-color: white;
    }
</style>
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Shopping cart summary</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Selected amount</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="align-middle">@item.Ammount</td>
                        <td class="align-middle">@item.Item.ItemName</td>
                        <td class="align-middle">@item.Item.Price.ToString("c")</td>
                        <td class="align-middle">@((item.Ammount*item.Item.Price).ToString("c"))</td>
                        <td class="align-middle">
                            <a class="text-danger" asp-controller="Orders" asp-action="RemoveFromCart"
                            asp-route-id="@item.Item.Id"><i class="bi bi-cart-dash"></i>
                            </a>|
                            <a class="text-success" asp-controller="Orders" asp-action="AddToCart"
                            asp-route-id="@item.Item.Id"><i class="bi bi-cart-plus"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center"></div>
        <div class="btn-group">
            <a class="btn btn-outline-success" asp-controller="Items" asp-action="Index">
                Add more items

            </a>
        </div>
    </div>
</div>